{% extends 'base.html' %}

{% block content%}

<div class="container">

    <div class="card" style="width: 18rem;">
        <img src="{{post.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">Created by: {{post.author}}, <small>about {{post.timestamp|timesince}} ago</small></p>
          <p class="card-text">{{post.content}}</p>
            
          <ul class="list-group list-group-flush">
            {% if user.is_authenticated %}
            <li class="list-group-item">
              <h5>Add a comment</h5>
              <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button>Speak Truth</button>
              </form>
              
            </li>
            {% endif %}
{% for comment in post.comment_set.all %}
            <li class="list-group-item">
              {{comment.content}} 
              {% if comment.author == user.profile %}
              <a href="{% url 'edit_comment' comment.id%}" class="btn btn-warning">Edit</a>

              {% endif %}

            </li>
{% endfor %}
          </ul>
        </div>
      </div>

</div>

{% endblock %}